body {
	font-family: sans-serif;
	font-style: normal;
	padding: 0;
	margin: 0;
	background-color: #c8c2ba;
}

a {
	color: #002080;
	font-weight: bold;
}

a:hover {
	color: #880000;
}

pre {
	background-color: #c8c2ba;
	border: 2px solid black;
	padding: 0.5em;
}

code {
	white-space: pre-wrap !important;
}

.heading {
	color: #eeeede;
	text-shadow: 2px 2px 4px black;
	font-weight: bold;
	background-color: #a8a29a;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em;
	max-width: 75em;
}

.content {
	background-color: #D8D2CB;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em;
	max-width: 75em;
}