body	{
	background-color: #4040E0;
	color: #A0A0FF;
	font-family: c64_userregular, Lucida Console, helvetica, sans-serif;
	margin: auto;
	width: 75%;
}
#menu a:link {
	color: #A0A0FF;;
	text-decoration: none;
}
#menu a:visited {
	color: #A0A0FF;;
	text-decoration: none;
}
#menu a:hover {
	color: #A0A0FF;;
	text-decoration: underline;
	text-decoration-thickness: 4px;
	text-decoration-color:#c4a000;
}
#menu a:active {
	color: #A0A0FF;;
	text-decoration: underline;
	text-decoration-thickness: 4px;
	text-decoration-color: #c4a000;
}
a:link {
	color: #729fcf;
	text-decoration: underline;
}
a:visited {
	color: #c4a000;
	text-decoration: Underline;
}
a:hover {
	color: #c4a000;
	text-decoration: underline;
	font-weight: bold;
}
a:active {
	color: #c4a000;
	text-decoration: underline;
	font-weight: bold;
}